nav {
    background-color: #D3D3D3;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;         /* REQUIRED BY TEST */
}

nav ul li {
    margin-right: 1rem;
}
